
@model Test_Library.Models.AuthPartialModel
<!-- Create -->
@if ( Model.ActionName == "Create")
{
    <a href='@Url.Action("Create", Model.ControllerName, Model.model)' class="btn btn-white btn-success">
        <i class=" fa fa-plus"></i>  Thêm mới
    </a>
}


@if (Model.ActionName == "Update")
{
    <a href='@Url.Action("Update", Model.ControllerName, Model.model)' class="green" title="Update">
        <i class="ace-icon fa fa-pencil bigger-120"></i>
    </a>

}
@if ( Model.ActionName == "Delete")
{
    <a href="javascript:void(0)" class="btnDelete red" idata="@Model.RecordId" title=" Xóa">
        <i class="ace-icon fa fa-trash bigger-120"></i>
    </a>
}