@model Test_Library.Models.AuthPartialModel

@if (Model.ActionName.Contains("Create"))
{
<div class="ace-settings-container" id="ace-settings-container" style="position: fixed; top: 155px;">
    <div class="btn btn-app btn-xs btn-grey ace-settings-btn open" id="ace-settings-btn">
        <i class="ace-icon fa fa-cog bigger-130"></i>
    </div>

    <div class="ace-settings-box clearfix open" id="ace-settings-box">
        <!-- /.pull-left -->
        <div class="bg-rightbox">
            <div class="clearfix lineButton">
                <div class="col-md-12 input-group">
                    <button class="btn btn-success" type="submit" id="Countinue">
                        <i class="ace-icon fa fa-refresh bigger-110"></i>
                       Lưu và tiếp tục
                    </button>
                    <button class="btn btn-info" type="submit" id="Completed">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                       Lưu
                    </button>
                    @*<button class="btn btnReset" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        @await Component.InvokeAsync("Language", new { path = "BODY:BUTTON:RESET" })
                    </button>*@
                    <a href='@Url.Action("Index", Model.ControllerName, Model.model)' class="btn btn-yellow">
                        <i class="ace-icon fa fa-chevron-circle-left bigger-110"></i>
                       Quay trở lại
                    </a>
                </div>
            </div>
        </div>
        <!-- /.pull-left -->
    </div><!-- /.ace-settings-box -->
</div>}

@if (Model.ActionName.Contains("Update"))
{
<div class="ace-settings-container" id="ace-settings-container" style="position: fixed; top: 155px;">
    <div class="btn btn-app btn-xs btn-grey ace-settings-btn open" id="ace-settings-btn">
        <i class="ace-icon fa fa-cog bigger-130"></i>
    </div>

    <div class="ace-settings-box clearfix open" id="ace-settings-box">
        <!-- /.pull-left -->
        <div class="bg-rightbox">
            <div class="clearfix lineButton">
                <div class="col-md-12 input-group">
                    <button class="btn btn-info" type="submit" id="Completed">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                     Lưu
                    </button>
                    
                    <a href='@Url.Action("Index", Model.ControllerName, Model.model)' class="btn btn-yellow">
                        <i class="ace-icon fa fa-chevron-circle-left bigger-110"></i>
                        Quay trở lại
                    </a>
                </div>
            </div>
        </div>
        <!-- /.pull-left -->
    </div><!-- /.ace-settings-box -->
</div>}


@*@if (Model.Ac*@<!--tionName.Contains("Confirm"))
{
<div class="row">
    <div class="mt-5 border-t-1 bgc-secondary-l4 brc-secondary-l2 py-35 mx-n25">
        <div class="offset-md-3 col-md-9 text-nowrap">
            <button class="btnService  btn-bold px-4" type="submit">
                <i class="fa fa-check mr-1"></i>
                Xác nhận
            </button>


            <a href='@Url.Action("Index", Model.ControllerName, Model.model)' class="btnCancel ragge btn-bold px-4">
                <i class="fa fa-undo mr-1"></i>
                Huỷ bỏ
            </a>
        </div>
    </div>
</div>}-->